<ion-view title="Css Samples">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
    <p>Pick one of these samples</p>
    <a href=/#/app/css/buttons2" class="button button-block">Buttons2</a>
    <a href="templates/css/buttons.html" class="button button-block">Buttons2 (raw)</a>
    <a href="#/app/css/header" class="button button-block">Headers, Content and Footers</a>
    <a href="templates/css/header2.html" class="button button-block">Headers, Content and Footers - Separate Page</a>
    <a href="#/app/css/buttons" class="button button-block">Buttons</a>
    <a href="#/app/css/buttonsblock" class="button button-block">Buttons (Block)</a>
    <a href="#/app/css/buttonsfullwidth" class="button button-block">Block Buttons (Full Width)</a>
    <a href="#/app/css/buttonsdifferentsizes" class="button button-block">Buttons (Different Sizes)</a>
    <a href="#/app/css/buttonsoutlined" class="button button-block">Buttons (Outlined)</a>
    <a href="#/app/css/buttonsclear" class="button button-block">Buttons (Clear)</a>
    <a href="#/app/css/buttonsicons" class="button button-block">Buttons (Icons)</a>
    <a href="#/app/css/buttonbar" class="button button-block">Button Bar</a>
    <a href="#/app/css/list" class="button button-block">List</a>
    <a href="#/app/css/listdividers" class="button button-block">List Dividers</a>
    <a href="#/app/css/listicons" class="button button-block">List Icons</a>
    <a href="#/app/css/listbuttons" class="button button-block">List Buttons</a>
    <a href="#/app/css/listavatars" class="button button-block">List Avatars</a>
    <a href="#/app/css/listthumbnails" class="button button-block">List Thumbnails</a>
    <a href="#/app/css/listinset" class="button button-block">List Inset</a>
  </ion-content>
</ion-view>
