<ion-view title="Css Samples">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
    <p>Pick one of these samples</p>
    <a href="/templates/css/header2.html" class="button button-block">Headers, Content and Footers</a>
    <a href="/#/app/css/buttons" class="button button-block">Buttons</a>
    <a href="/#/app/css/buttonsblock" class="button button-block">Block Buttons</a>
  </ion-content>
</ion-view>
