<ion-view title="JS Samples">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding">
        <p>Pick one of these samples</p>
        <a href="#/app/js/list" class="button button-block">List (And Action Sheet, Refresh)</a>
<!--        <a href="#/app/js/actionsheet" class="button button-block">Action Sheet</a>
        <a href="#/app/js/refresher" class="button button-block">Refresher</a> -->
        <a href="#/app/js/modal" class="button button-block">Modal</a>
        <a href="#/app/js/popover" class="button button-block">Popover</a>
        <a href="#/app/js/slidebox" class="button button-block">Slide Box</a> 
        <a href="#/app/js/events" class="button button-block">Events</a> 
    </ion-content>
</ion-view>
