<ion-view title="Events" ng-controller="JsEventsCtrl">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	
	<ion-content side-menu-content drag-content="false">
		<div class="card"
			on-hold="flags.hold = !flags.hold"
			on-tap="flags.tap = !flags.tap"
			on-touch="flags.touch = !flags.touch"
			on-release="flags.release = !flags.release"
			>
			<div class="item item-divider">Hold, tap and touch this card</div>
			<div class="item padding">&nbsp;</div>
			<div class="item padding">
				<button class="button button-balanced" ng-class="{ 'button-outline': !flags.hold }">Hold</button>
				<button class="button button-balanced" ng-class="{ 'button-outline': !flags.tap }">Tap</button>
				<button class="button button-balanced" ng-class="{ 'button-outline': !flags.touch }">Touch</button>
				<button class="button button-balanced" ng-class="{ 'button-outline': !flags.release }">Release</button>
			</div>
			<div class="item padding">&nbsp;</div>
		</div>

		<div class="card" side-menu-content drag-content="false"
			on-drag="flags.drag = !flags.drag"
			on-drag-up="flags.dragUp = !flags.dragUp"
			on-drag-down="flags.dragDown = !flags.dragDown"
			on-drag-left="flags.dragLeft = !flags.dragLeft"
			on-drag-right="flags.dragRight = !flags.dragRight"
			>
			<div class="item item-divider">Drag this card</div>
			<div class="item padding">&nbsp;</div>
			<div class="item padding">
				<button class="button button-balanced" ng-class="{ 'button-outline': !flags.drag }">Drag</button>
				<button class="button button-balanced" ng-class="{ 'button-outline': !flags.dragUp }">Up</button>
				<button class="button button-balanced" ng-class="{ 'button-outline': !flags.dragDown }">Down</button>
				<button class="button button-balanced" ng-class="{ 'button-outline': !flags.dragLeft }">Left</button>
				<button class="button button-balanced" ng-class="{ 'button-outline': !flags.dragRight }">Right</button>
			</div>
			<div class="item padding">&nbsp;</div>
		</div>
		
		<div class="card"
			on-swipe="flags.swipe = !flags.swipe"
			on-swipe-up="flags.swipeUp = !flags.swipeUp"
			on-swipe-down="flags.swipeDown = !flags.swipeDown"
			on-swipe-left="flags.swipeLeft = !flags.swipeLeft"
			on-swipe-right="flags.swipeRight = !flags.swipeRight"
			>
			<div class="item item-divider">Swipe this card</div>
			<div class="item padding">&nbsp;</div>
			<div class="item padding">
				<button class="button button-balanced" ng-class="{ 'button-outline': !flags.swipe }">Swipe</button>
				<button class="button button-balanced" ng-class="{ 'button-outline': !flags.swipeUp }">Up</button>
				<button class="button button-balanced" ng-class="{ 'button-outline': !flags.swipeDown }">Down</button>
				<button class="button button-balanced" ng-class="{ 'button-outline': !flags.swipeLeft }">Left</button>
				<button class="button button-balanced" ng-class="{ 'button-outline': !flags.swipeRight }">Right</button>
			</div>
			<div class="item padding">&nbsp;</div>
		</div>
		
	</ion-content>
</ion-view>
