<ion-view title="Css - Buttons (Different Sizes)">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

  <br/>
  <button class="button button-small">
    Default (small)
  </button>
  <br/><br/>

  <button class="button button-small button-light">
    button-light (small)
  </button>
  <br/>
  <br/><br/>

  <button class="button button-small button-stable">
    button-stable (small)
  </button>
  <br/>
  <br/><br/>

  <button class="button button-positive">
    button-positive
  </button>
  <br/><br/>

  <button class="button button-calm">
    button-calm
  </button>
  <br/><br/>

  <button class="button button-balanced">
    button-balanced
  </button>
  <br/><br/>

  <button class="button button-large button-energized">
    button-energized (large)
  </button>
  <br/><br/>

  <button class="button button-large button-assertive">
    button-assertive (large)
  </button>
  <br/><br/>

  <button class="button button-large button-royal">
    button-royal (large)
  </button>
  <br/><br/>

  <button class="button button-large button-dark">
    button-dark (large)
  </button>
  
  </ion-content>
</ion-view>