<ion-view title="Css - Buttons (Clear)">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-clear button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

  <br/>
  
  <button class="button button-clear">
    Default
  </button>
  <br/><br/>

  <button class="button button-clear button-light">
    button-light
  </button>
  <br/><br/>

  <button class="button button-clear button-stable">
    button-stable
  </button>
  <br/><br/>

  <button class="button button-clear button-positive">
    button-positive
  </button>
  <br/><br/>

  <button class="button button-clear button-calm">
    button-calm
  </button>
  <br/><br/>

  <button class="button button-clear button-balanced">
    button-balanced
  </button>
  <br/><br/>

  <button class="button button-clear button-energized">
    button-energized
  </button>
  <br/><br/>

  <button class="button button-clear button-assertive">
    button-assertive
  </button>
  <br/><br/>

  <button class="button button-clear button-royal">
    button-royal
  </button>
  <br/><br/>

  <button class="button button-clear button-dark">
    button-dark
  </button>
  <br/><br/>
  
  </ion-content>
</ion-view>