<ion-view title="Css - Button Bar">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

  <div class="button-bar">
    <button class="button button-positive">First</button>
    <button class="button button-positive">Second</button>
    <button class="button button-positive">Third</button>
  </div>

  <br/>

  <div class="button-bar ">
    <button class="button">First</button>
    <button class="button">Second</button>
    <button class="button">Third</button>
    <button class="button icon ion-heart"></button>
    <button class="button">Fifth</button>
  </div>
  
  </ion-content>
</ion-view>