<ion-view title="Css - Buttons (Icons)">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <button class="button button-clear">(clear)</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button">Header</button>
    &nbsp;
    <button class="button icon-left ion-plus-round"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

  <div class="card">
    <div class="item item-text-wrap">
      This shows buttons in the header you can add in each page as well as
      icons on left and right of buttons.
    </div>
  </div>  
  <br/>
  
  <button class="button">
    <i class="icon ion-looping"></i> ion-looping
  </button>
  <br/><br/>

  <button class="button icon-left ion-home">
    ion-home
  </button>
  <br/><br/>

  <button class="button icon-left ion-star button-positive">
    ion-star
  </button>
  <br/><br/>

  <button class="button icon-right ion-chevron-right">
    ion-chevron-right &nbsp;
  </button>
  <br/><br/>

  <button class="button icon-left ion-chevron-left">
    &nbsp; ion-chevron-left
  </button>
  <br/><br/>

  <button class="button icon-left ion-minus-circled">
    &nbsp;icon-minus-circled
  </button>
  <br/><br/>

  <button class="button icon-right ion-close-circled">
    icon-close-circled&nbsp;
  </button>
  <br/><br/>

  <div class="card">
    <div class="item item-text-wrap">
      Tons more icons at <a href="http://ionicons.com/">ionicons.com</a>.
    </div>
  </div>

  <br/><br/>
  
  </ion-content>
</ion-view>