<ion-view title="Form (Other)">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<div class="bar bar-subheader item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-ios7-search placeholder-icon"></i>
			<input type="search" placeholder="Search">
		</label>
		<button class="button button-clear">
			Cancel
		</button>
	</div>

	<ion-content class="has-subheader">

		<div class="card">
			<p>Above shows putting controls in a (sub)header.</p>
		</div>

		<div class="list list-inset">
			<div class="item item-divider">Inset Form</div>
			<label class="item item-input">
				<input type="text" placeholder="First Name">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Last Name">
			</label>
			<label class="item item-input">
				<textarea placeholder="Comments"></textarea>
			</label>
		</div>

		<div class="list">
			<div class="item item-divider">Inset Input</div>
			<div class="item item-input-inset">
				<label class="item-input-wrapper">
					<input type="text" placeholder="Email">
				</label>
				<button class="button button-small">Submit</button>
			</div>
		</div>

		<div class="list">
			<div class="item item-divider">Input Icons</div>

				<label class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="text" placeholder="Search">
				</label>

		</div>

		<div class="list">
			<div class="item item-divider">Floating Labels</div>
			<label class="item item-input item-floating-label">
				<span class="input-label">First</span>
				<input type="text" placeholder="First Name">
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">Last</span>
				<input type="text" placeholder="Last Name">
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">Comments</span>
				<textarea placeholder="Comments"></textarea>
			</label>
		</div>

	</ion-content>
</ion-view>