<ion-view title="Css - List">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

  <ul class="list">
    <li class="item item-divider">Games Beginning with A</li>
    <li class="item">Adventures of Lolo 3</li>
    <li class="item item-divider">Games Beginning with B</li>
    <li class="item">Batman: The Video Game</li>
    <li class="item">Battletoads</li>
    <li class="item">Bionic Commando</li>
    <li class="item">Blades of Steel</li>
    <li class="item item-divider">Games Beginning with C</li>
    <li class="item">Contra</li>
    <li class="item">Crystalis</li>
    <li class="item item-divider">Games Beginning with D</li>
    <li class="item">Dr. Mario</li>
    <li class="item">Duck Tales</li>
    <li class="item item-divider">Games Beginning with E</li>
    <li class="item">Excitebike</li>
    <li class="item item-divider">Games Beginning with F</li>
    <li class="item">Final Fantasy</li>
    <li class="item item-divider">Games Beginning with G</li>
    <li class="item">Gradius</li>
    <li class="item item-divider">Games Beginning with I</li>
    <li class="item">Ikari Warriors</li>
    <li class="item item-divider">Games Beginning with J</li>
    <li class="item">Jackal</li>
    <li class="item item-divider">Games Beginning with K</li>
    <li class="item">Kid Icarus</li>
    <li class="item item-divider">Games Beginning with L</li>
    <li class="item">Legend of Zelda</li>
    <li class="item item-divider">Games Beginning with M</li>
    <li class="item">Maniac Mansion</li>
    <li class="item">Mega Man</li>
    <li class="item">Metroid</li>
    <li class="item">Mike Tyson's Punch-Out</li>
    <li class="item item-divider">Games Beginning with R</li>
    <li class="item">R.C. Pro-Am</li>
    <li class="item item-divider">Games Beginning with S</li>
    <li class="item">Spy Hunter</li>
    <li class="item">Super Mario Bros.</li>
    <li class="item item-divider">Games Beginning with Z</li>
    <li class="item">Zelda II: The Adventure of Link</li>
  </ul>
  
  </ion-content>
</ion-view>