<ion-view title="Form (Other)">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content>
		<ul class="list">
			<li class="item item-divider">Toggle</li>
			<li class="item item-toggle">
				HTML5
				<label class="toggle toggle-positive">
				<input type="checkbox" checked="">
				<div class="track">
				<div class="handle"></div>
				</div>
				</label>
			</li>
			<li class="item item-toggle">
				CSS3
				<label class="toggle toggle-calm">
				<input type="checkbox" checked="">
				<div class="track">
				<div class="handle"></div>
				</div>
				</label>
			</li>
			<li class="item item-toggle">
				Flashplayer
				<label class="toggle toggle-balanced">
				<input type="checkbox">
				<div class="track">
				<div class="handle"></div>
				</div>
				</label>
			</li>
			<li class="item item-toggle">
				Java Applets
				<label class="toggle toggle-energized">
				<input type="checkbox">
				<div class="track">
				<div class="handle"></div>
				</div>
				</label>
			</li>
			<li class="item item-toggle">
				JavaScript
				<label class="toggle toggle-assertive">
				<input type="checkbox" checked="">
				<div class="track">
				<div class="handle"></div>
				</div>
				</label>
			</li>
			<li class="item item-toggle">
				Silverlight
				<label class="toggle toggle-royal">
				<input type="checkbox">
				<div class="track">
				<div class="handle"></div>
				</div>
				</label>
			</li>
			<li class="item item-toggle">
				Web Components
				<label class="toggle toggle-dark">
				<input type="checkbox" checked="">
				<div class="track">
				<div class="handle"></div>
				</div>
				</label>
			</li>
		</ul>

		<ul class="list">
			<li class="item item-divider">Checkbox</li>
			<li class="item item-checkbox">
				<label class="checkbox">
				<input type="checkbox" checked="">
				</label>
				Flux Capacitor
			</li>
				<li class="item item-checkbox">
				<label class="checkbox">
				<input type="checkbox" checked="">
				</label>
				1.21 Gigawatts
			</li>
				<li class="item item-checkbox">
				<label class="checkbox">
				<input type="checkbox" checked="">
				</label>
				Delorean
			</li>
				<li class="item item-checkbox">
				<label class="checkbox">
				<input type="checkbox" checked="">
				</label>
				88 MPH
			</li>
				<li class="item item-checkbox">
				<label class="checkbox">
				<input type="checkbox">
				</label>
				Plutonium Resupply
			</li>
		</ul>

		<div class="list">
			<li class="item item-divider">Radio Button List</li>

			<label class="item item-radio">
				<input type="radio" name="group" value="go" checked="checked">
				<div class="item-content">
				Go
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>

			<label class="item item-radio">
				<input type="radio" name="group" value="python">
				<div class="item-content">
				Python
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>

			<label class="item item-radio">
				<input type="radio" name="group" value="ruby">
				<div class="item-content">
				Ruby
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>

			<label class="item item-radio">
				<input type="radio" name="group" value=".net">
				<div class="item-content">
				.Net
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>

			<label class="item item-radio">
				<input type="radio" name="group" value="java">
				<div class="item-content">
				Java
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>

			<label class="item item-radio">
				<input type="radio" name="group" value="php">
				<div class="item-content">
				PHP
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>

		</div>

		<div class="list">
			<li class="item item-divider">Select</li>

			<div class="item item-input item-select">
				<div class="input-label">
				Lightsaber
				</div>
				<select>
					<option>Blue</option>
					<option selected="">Green</option>
					<option>Red</option>
				</select>
			</div>

			<div class="item item-input item-select">
				<div class="input-label">
				Fighter
				</div>
				<select>
					<option>ARC-170</option>
					<option>A-wing</option>
					<option>Delta-7</option>
					<option>Naboo N-1</option>
					<option>TIE</option>
					<option selected="">X-wing</option>
					<option>Y-wing</option>
				</select>
			</div>

			<div class="item item-input item-select">
				<div class="input-label">
				Droid
				</div>
				<select>
					<option>2-1B</option>
					<option>B1</option>
					<option>C-3PO</option>
					<option>IG-88</option>
					<option>IT-O</option>
					<option selected="">R2-D2</option>
				</select>
			</div>

			<div class="item item-input item-select">
				<div class="input-label">
				Planet
				</div>
				<select>
					<option>Alderaan</option>
					<option selected="">Dagobah</option>
					<option>Felucia</option>
					<option>Geonosis </option>
					<option>Hoth</option>
					<option>Kamino</option>
					<option>Mygeeto</option>
					<option>Naboo</option>
					<option>Tataouine</option>
					<option>Utapau</option>
					<option>Yavin</option>
				</select>
			</div>

		</div>

	</ion-content>
</ion-view>